.choiceButton {
    background-color: gray;
    height: 50px;
    width: 33%;

    float: left;
    border: blue dashed;
}


.choiceButton:hover {
    background-color: green;
}


.playerBox, #resultBox {
    border: black solid;
    height: 200px;
}


.choiceBox {
    height: 100px;
}

/*temp*/
.nameDisplay, .choiceDisplay, .scoreDisplay {
    height: 50px;
    border: purple dotted thin;
}

.choiceBox {
    height: 50px;
}